<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>111896583373-e4pp4190id76fk0ho2m43od3qr3325e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111896583373-e4pp4190id76fk0ho2m43od3qr3325e5</string>
	<key>API_KEY</key>
	<string>AIzaSyDPb6_1fs7VoXnPL6lHbLvKOkK3UcewrE8</string>
	<key>GCM_SENDER_ID</key>
	<string>111896583373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trackyapp.upv</string>
	<key>PROJECT_ID</key>
	<string>tracky-db157</string>
	<key>STORAGE_BUCKET</key>
	<string>tracky-db157.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111896583373:ios:0d7a4595a2b386a9</string>
	<key>DATABASE_URL</key>
	<string>https://tracky-db157.firebaseio.com</string>
</dict>
</plist>