<ion-header>

  <ion-navbar>
    <ion-title>Catch delivery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div #map id="map"></div>

  <ion-list>
    <ion-item>
      <ion-label>Delivery time: {{ order.deliveryTime | date: "dd/MM HH:mm" }}</ion-label>
    </ion-item>
    <ion-item text-wrap>
      <ion-label>Destination: {{ address }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Client: {{ clientName }}</ion-label>
    </ion-item>
    <ion-item text-wrap>
      <ion-label>Description: {{order.description}}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Price: {{ order.price }}€</ion-label>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-list-header style="margin-bottom: 0%">Articles</ion-list-header>

    <ion-item *ngFor="let article of order.articles">
      {{ article.quantity }} x {{ article.name }}
    </ion-item>
  </ion-list>
  <ion-list *ngIf="order.state == 'Entregado' && order.comment!=undefined">
    <ion-item></ion-item>
    <ion-item text-wrap >
      <ion-label>Comment:  {{ order.comment }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="order.state == 'En reparto'">
        <ion-item></ion-item>
        <ion-item >
          <ion-label>Comment: </ion-label>
          <ion-textarea [(ngModel)]="order.comment"
                        placeholder="Deliveryman comment"
                        type="text">{{order.comment}}</ion-textarea>
          <button ion-button clear item-end icon-only (click)="saveComment()">
            <ion-icon name="ios-checkmark-circle-outline" ></ion-icon>
          </button>
        </ion-item>
  </ion-list>
  <div *ngIf="order.signatureURL != undefined && order.state=='Entregado'" text-center="">
    <p> Client signature:</p>
    <ion-img style="background-color:transparent;width: 110px; height: 110px; " [src]=order.signatureURL></ion-img>
  </div>
  <button ion-button block round *ngIf="order.state == 'En reparto'" (click)="signature()">Order delivered</button>
  <button ion-button block round *ngIf="order.state == 'Preparado'" (click)="onCatchDelivery()">Get delivery</button>

</ion-content>
