<ion-header>

  <ion-navbar>
    <ion-title>Catch delivery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div #map id="map"></div>

  <ion-list>
    <ion-item>
      <ion-label>Delivery time: {{ order.deliveryTime | date: "dd/MM HH:mm" }}</ion-label>
    </ion-item>
    <ion-item text-wrap>
      <ion-label>Destination: {{ address }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Client: {{ clientName }}</ion-label>
    </ion-item>
    <ion-item text-wrap>
      <ion-label>Description: {{order.description}}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Price: {{ order.price }}€</ion-label>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-list-header style="margin-bottom: 0%">Articles</ion-list-header>

    <ion-item *ngFor="let article of order.articles">
      {{ article.quantity }} x {{ article.name }}
    </ion-item>
  </ion-list>
  <button ion-button block round *ngIf="order.state == 'En reparto'" (click)="delivered()">Order delivered</button>
  <button ion-button block round *ngIf="order.state == 'Preparado'" (click)="onCatchDelivery()">Get delivery</button>

</ion-content>
