<ion-header>

  <ion-navbar>
    <ion-title>Create order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Delivery time</ion-label>
    <ion-datetime displayFormat="DD MMM HH:mm"
                  minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                  monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                  [(ngModel)]="order.deliveryTime"> {{ order.deliveryTime }}</ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Client</ion-label>
    <ion-select [(ngModel)]="order.client" okText="Aceptar" cancelText="Cancelar" ngDefaultControl>
      <ion-option *ngFor='let client of clients' value="{{client.id}}">{{ client.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <button ion-button outline round (click)="addArticles()">Add articles</button>
  </ion-item>

  <ion-list *ngIf="order.articles.length > 0">
    <ion-list-header>
      Articles
    </ion-list-header>
    <ion-item *ngFor="let article of order.articles">
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            {{ article.name }} x {{ article.quantity }}
          </ion-col>

          <ion-col col-2>
            {{ article.price * article.quantity }} €
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col col-9>
        <h4>Precio total:</h4>
      </ion-col>
      <ion-col col-3>
        <h4>{{ order.price }} €</h4>
      </ion-col>
    </ion-row>
  </ion-grid>



  <button ion-button
          round
          block
          (click)="createOrder()"
          [disabled]="order.articles.length == 0 || order.client == '' || !order.deliveryTime">
    Create order
  </button>
</ion-content>
