<ion-header>

  <ion-navbar>
    <ion-title>Create order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Delivery time</ion-label>
    <ion-datetime displayFormat="DD MMM HH:mm"
                  minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                  monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                  [(ngModel)]="order.deliveryTime"> {{ order.deliveryTime }}</ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Client</ion-label>
    <ion-select [(ngModel)]="order.client" okText="Aceptar" cancelText="Cancelar" ngDefaultControl>
      <ion-option *ngFor='let client of clients' value="{{client.id}}">{{ client.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <button ion-button block round color="light" (click)="selectDeliveryAddress()">Select delivery address</button>
  </ion-item>

  <h5 padding-left="10px">Delivery address:</h5>
  <ion-label padding-left="10px" text-wrap *ngIf="deliveryAddress != ''">{{ deliveryAddress }}</ion-label>

  <ion-item>
    <button ion-button outline round [disabled]="!listVisible" (click)="addArticles()">Add articles</button>
  </ion-item>

  <ion-list *ngIf="order.articles.length > 0" >
    <ion-list-header>
      Articles
    </ion-list-header>
    <ion-item *ngFor="let article of order.articles">
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            {{ article.quantity }} x {{ article.name }}
          </ion-col>

          <ion-col col-2>
            {{ article.price * article.quantity }} €
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="commentsVisible">
    <ion-label stacked style="font-size: 16px">Description</ion-label>
    <ion-textarea
      [(ngModel)]="order.description"
      placeholder="Order description"
      type="text"
      rows="4">
      {{order.description}}
    </ion-textarea>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col col-7>
        <h4>Precio total:</h4>
      </ion-col>
      <ion-col col-5>
        <h4 *ngIf="listVisible">{{ order.price }} €</h4>

        <ion-item *ngIf="commentsVisible">
          <ion-input [(ngModel)]="order.price" type="number"></ion-input>
          <ion-label item-end>€</ion-label>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button
          round
          block
          (click)="createOrder()"
          [disabled]="(order.articles.length == 0 && listVisible == true) || order.client == '' || !order.deliveryTime || deliveryAddress == '' || order.price == 0 || (order.description == '' && commentsVisible ==  true)">
    Create order
  </button>
</ion-content>
