<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Tracky
    </ion-title>

    <ion-buttons end>

      <button ion-button icon-only (click)="showSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>

      <button ion-button icon-only (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <button class="btnMiddle" ion-button outline large (click)="showMap()">
          <div>
            <ion-icon name="map" class="iconMiddle"></ion-icon>
            <br/>
            Show Map
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="btnMiddle" ion-button outline large (click)="showOrders()">
          <div><ion-icon name="list" class="iconMiddle"></ion-icon>
            <br/>Orders
          </div>

        </button>
      </ion-col>
    </ion-row>

    <ion-row text-center *ngIf="isAdmin">
      <ion-col>
        <button class="btnMiddle" ion-button outline large (click)="createOrder()">
          <div>
            <ion-icon name="create" class="iconMiddle"></ion-icon> <br/> Create
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="btnMiddle" ion-button outline large (click)="showClients()">
          <div>
            <ion-icon name="people" class="iconMiddle"></ion-icon> <br/>Clients
          </div>
        </button>
      </ion-col>
    </ion-row>

    <ion-row text-center *ngIf="isAdmin">
      <ion-col>
        <button class="btnMiddle" ion-button outline large (click)="showArticles()">
          <div>
            <ion-icon name="cart" class="iconMiddle"></ion-icon> <br/>Articles
          </div>
        </button>
      </ion-col>
      <ion-col >
        <button class="btnMiddle" ion-button outline large (click)="showHistory()">
          <div>
            <ion-icon name="calendar" class="iconMiddle"></ion-icon> <br/>History
          </div>
        </button>
      </ion-col>
    </ion-row>

    <ion-row text-center *ngIf="!isAdmin">
      <ion-col >
        <button class="btnMiddle" ion-button outline large (click)="showHistory()">
          <div>
            <ion-icon name="calendar" class="iconMiddle"></ion-icon> <br/>History
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
